<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hwstartupguide">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="huawei.android.permission.MANAGER_PRIVACY_FINGER"/>

    <application>

    </application>

</manifest>
