<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="setupwizard.collection.felink.com.setupwizard.app">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="开机引导测试应用">
        <activity android:name="setupwizard.collection.felink.com.setupwizard.SetupWizardMainActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
